In [2]:
import sqlite3 as sq
import pandas as pd

In [3]:
con = sq.connect("hr.db")
con

In [4]:
cur = con.cursor()
cur

In [5]:
results = cur.execute("select name from sqlite_master where type='table'")
results.fetchall()

[('employee',), ('sales',), ('field',)]

In [6]:
sales = pd.read_sql("""select EmployeeNumber, Department, Age, Gender, Attrition
                    from employee
                    where Department = 'Sales'""", con)
sales

     EmployeeNumber Department  Age  Gender Attrition
0                 1      Sales   41  Female       Yes
1                23      Sales   53  Female        No
2                27      Sales   36    Male       Yes
3                35      Sales   42    Male        No
4                38      Sales   46  Female        No
..              ...        ...  ...     ...       ...
441            2046      Sales   45  Female      None
442            2055      Sales   50    Male      None
443            2056      Sales   39  Female      None
444            2060      Sales   26  Female      None
445            2065      Sales   49    Male        No

[446 rows x 5 columns]

In [7]:
field = pd.read_sql("""select EmployeeNumber, EducationField, Age, Gender, Attrition
                    from employee
                    where EducationField = 'Life Sciences'""", con)
field

     EmployeeNumber EducationField  Age  Gender Attrition
0                 1  Life Sciences   41  Female       Yes
1                 2  Life Sciences   49    Male        No
2                 5  Life Sciences   33  Female        No
3                 8  Life Sciences   32    Male        No
4                11  Life Sciences   30    Male        No
..              ...            ...  ...     ...       ...
601            2046  Life Sciences   45  Female      None
602            2048  Life Sciences   40    Male      None
603            2049  Life Sciences   35    Male      None
604            2052  Life Sciences   35  Female      None
605            2064  Life Sciences   27    Male        No

[606 rows x 5 columns]

In [ ]:
sales.to_sql("sales",sq.connect("hr.db"))
field.to_sql("field",sq.connect("hr.db"))

In [11]:
results = cur.execute("""select *
                      from sales
                      left join field
                      on sales.EmployeeNumber = field.EmployeeNumber""")
results.fetchall()

[(0,
  1,
  'Sales',
  41,
  'Female',
  'Yes',
  0,
  1,
  'Life Sciences',
  41,
  'Female',
  'Yes'),
 (1,
  23,
  'Sales',
  53,
  'Female',
  'No',
  11,
  23,
  'Life Sciences',
  53,
  'Female',
  'No'),
 (2,
  27,
  'Sales',
  36,
  'Male',
  'Yes',
  13,
  27,
  'Life Sciences',
  36,
  'Male',
  'Yes'),
 (3, 35, 'Sales', 42, 'Male', 'No', None, None, None, None, None, None),
 (4, 38, 'Sales', 46, 'Female', 'No', None, None, None, None, None, None),
 (5, 42, 'Sales', 39, 'Male', 'Yes', None, None, None, None, None, None),
 (6, 47, 'Sales', 50, 'Male', 'Yes', None, None, None, None, None, None),
 (7, 49, 'Sales', 35, 'Female', 'No', None, None, None, None, None, None),
 (8,
  52,
  'Sales',
  33,
  'Female',
  'No',
  18,
  52,
  'Life Sciences',
  33,
  'Female',
  'No'),
 (9, 56, 'Sales', 27, 'Male', 'No', 21, 56, 'Life Sciences', 27, 'Male', 'No'),
 (10, 60, 'Sales', 34, 'Male', 'No', None, None, None, None, None, None),
 (11, 62, 'Sales', 46, 'Male', 'No', None, None, None, None, None, None),
 (12, 68, 'Sales', 44, 'Female', 'No', None, None, None, None, None, None),
 (13, 72, 'Sales', 26, 'Female', 'No', None, None, None, None, None, None),
 (14,
  74,
  'Sales',
  35,
  'Male',
  'No',
  26,
  74,
  'Life Sciences',
  35,
  'Male',
  'No'),
 (15,
  81,
  'Sales',
  59,
  'Female',
  'No',
  30,
  81,
  'Life Sciences',
  59,
  'Female',
  'No'),
 (16,
  91,
  'Sales',
  59,
  'Female',
  'No',
  33,
  91,
  'Life Sciences',
  59,
  'Female',
  'No'),
 (17, 100, 'Sales', 35, 'Male', 'No', None, None, None, None, None, None),
 (18,
  106,
  'Sales',
  55,
  'Male',
  'No',
  39,
  106,
  'Life Sciences',
  55,
  'Male',
  'No'),
 (19, 113, 'Sales', 23, 'Male', 'No', None, None, None, None, None, None),
 (20, 118, 'Sales', 46, 'Male', 'Yes', None, None, None, None, None, None),
 (21, 120, 'Sales', 51, 'Male', 'No', None, None, None, None, None, None),
 (22, 121, 'Sales', 30, 'Female', 'No', None, None, None, None, None, None),
 (23, 125, 'Sales', 32, 'Male', 'No', None, None, None, None, None, None),
 (24, 128, 'Sales', 24, 'Female', 'No', None, None, None, None, None, None),
 (25, 129, 'Sales', 28, 'Male', 'No', None, None, None, None, None, None),
 (26, 131, 'Sales', 58, 'Male', 'No', None, None, None, None, None, None),
 (27, 142, 'Sales', 25, 'Male', 'Yes', None, None, None, None, None, None),
 (28,
  152,
  'Sales',
  37,
  'Male',
  'No',
  51,
  152,
  'Life Sciences',
  37,
  'Male',
  'No'),
 (29, 154, 'Sales', 36, 'Female', 'No', None, None, None, None, None, None),
 (30,
  158,
  'Sales',
  43,
  'Male',
  'No',
  53,
  158,
  'Life Sciences',
  43,
  'Male',
  'No'),
 (31, 160, 'Sales', 33, 'Male', 'No', None, None, None, None, None, None),
 (32,
  163,
  'Sales',
  31,
  'Male',
  'Yes',
  57,
  163,
  'Life Sciences',
  31,
  'Male',
  'Yes'),
 (33, 167, 'Sales', 19, 'Male', 'Yes', None, None, None, None, None, None),
 (34, 174, 'Sales', 50, 'Female', 'No', None, None, None, None, None, None),
 (35,
  175,
  'Sales',
  31,
  'Female',
  'Yes',
  58,
  175,
  'Life Sciences',
  31,
  'Female',
  'Yes'),
 (36,
  176,
  'Sales',
  41,
  'Male',
  'No',
  59,
  176,
  'Life Sciences',
  41,
  'Male',
  'No'),
 (37,
  182,
  'Sales',
  39,
  'Female',
  'No',
  62,
  182,
  'Life Sciences',
  39,
  'Female',
  'No'),
 (38,
  183,
  'Sales',
  25,
  'Male',
  'No',
  63,
  183,
  'Life Sciences',
  25,
  'Male',
  'No'),
 (39, 195, 'Sales', 32, 'Male', 'No', None, None, None, None, None, None),
 (40, 204, 'Sales', 35, 'Male', 'No', None, None, None, None, None, None),
 (41, 205, 'Sales', 53, 'Male', 'No', None, None, None, None, None, None),
 (42, 207, 'Sales', 32, 'Female', 'No', None, None, None, None, None, None),
 (43, 215, 'Sales', 40, 'Male', 'No', None, None, None, None, None, None),
 (44, 216, 'Sales', 34, 'Female', 'No', None, None, None, None, None, None),
 (45,
  228,
  'Sales',
  30,
  'Female',
  'No',
  71,
  228,
  'Life Sciences',
  30,
  'Female',
  'No'),
 (46,
  230,
  'Sales',
  38,
  'Female',
  'No',
  72,
  230,
  'Life Sciences',
  38,
  'Female',
  'No'),
 (47, 235, 'Sales', 19, 'Female', 'Yes', None, None, None, None, None, None),
 (48,
  240,
  'Sales',
  45,
  'Female',
  'No',
  74,
  240,
  'Life Sciences',
  45,
  'Female',
  'No'),
 (49, 244, 'Sales', 46, 'Female', 'No', None, None, None, None, None, None),
 (50, 248, 'Sales', 41, 'Female', 'Yes', None, None, None, None, None, None),
 (51, 283, 'Sales', 29, 'Female', 'Yes', None, None, None, None, None, None),
 (52, 291, 'Sales', 32, 'Male', 'Yes', None, None, None, None, None, None),
 (53,
  293,
  'Sales',
  27,
  'Female',
  'No',
  88,
  293,
  'Life Sciences',
  27,
  'Female',
  'No'),
 (54,
  298,
  'Sales',
  41,
  'Female',
  'No',
  90,
  298,
  'Life Sciences',
  41,
  'Female',
  'No'),
 (55, 299, 'Sales', 30, 'Female', 'Yes', None, None, None, None, None, None),
 (56, 302, 'Sales', 45, 'Female', 'No', None, None, None, None, None, None),
 (57, 303, 'Sales', 54, 'Female', 'No', None, None, None, None, None, None),
 (58,
  307,
  'Sales',
  38,
  'Male',
  'No',
  92,
  307,
  'Life Sciences',
  38,
  'Male',
  'No'),
 (59, 311, 'Sales', 37, 'Male', 'No', None, None, None, None, None, None),
 (60, 312, 'Sales', 29, 'Female', 'No', None, None, None, None, None, None),
 (61, 314, 'Sales', 35, 'Female', 'No', None, None, None, None, None, None),
 (62, 323, 'Sales', 50, 'Female', 'No', None, None, None, None, None, None),
 (63, 327, 'Sales', 43, 'Female', 'No', None, None, None, None, None, None),
 (64,
  329,
  'Sales',
  52,
  'Male',
  'No',
  96,
  329,
  'Life Sciences',
  52,
  'Male',
  'No'),
 (65,
  330,
  'Sales',
  32,
  'Female',
  'No',
  97,
  330,
  'Life Sciences',
  32,
  'Female',
  'No'),
 (66, 333, 'Sales', 32, 'Male', 'No', None, None, None, None, None, None),
 (67, 349, 'Sales', 29, 'Male', 'No', None, None, None, None, None, None),
 (68,
  361,
  'Sales',
  38,
  'Male',
  'No',
  108,
  361,
  'Life Sciences',
  38,
  'Male',
  'No'),
 (69, 363, 'Sales', 46, 'Female', 'No', None, None, None, None, None, None),
 (70, 366, 'Sales', 29, 'Male', 'No', None, None, None, None, None, None),
 (71, 378, 'Sales', 37, 'Male', 'No', None, None, None, None, None, None),
 (72, 382, 'Sales', 38, 'Female', 'No', None, None, None, None, None, None),
 (73,
  387,
  'Sales',
  42,
  'Male',
  'No',
  116,
  387,
  'Life Sciences',
  42,
  'Male',
  'No'),
 (74,
  388,
  'Sales',
  29,
  'Male',
  'No',
  117,
  388,
  'Life Sciences',
  29,
  'Male',
  'No'),
 (75, 399, 'Sales', 31, 'Female', 'No', None, None, None, None, None, None),
 (76, 401, 'Sales', 26, 'Male', 'Yes', None, None, None, None, None, None),
 (77, 404, 'Sales', 42, 'Female', 'No', None, None, None, None, None, None),
 (78, 406, 'Sales', 35, 'Male', 'No', None, None, None, None, None, None),
 (79,
  410,
  'Sales',
  41,
  'Male',
  'No',
  125,
  410,
  'Life Sciences',
  41,
  'Male',
  'No'),
 (80, 411, 'Sales', 18, 'Female', 'No', None, None, None, None, None, None),
 (81, 416, 'Sales', 31, 'Male', 'No', None, None, None, None, None, None),
 (82,
  420,
  'Sales',
  32,
  'Male',
  'No',
  127,
  420,
  'Life Sciences',
  32,
  'Male',
  'No'),
 (83, 436, 'Sales', 32, 'Female', 'No', None, None, None, None, None, None),
 (84,
  437,
  'Sales',
  27,
  'Male',
  'No',
  135,
  437,
  'Life Sciences',
  27,
  'Male',
  'No'),
 (85, 438, 'Sales', 31, 'Male', 'No', None, None, None, None, None, None),
 (86, 445, 'Sales', 39, 'Female', 'Yes', None, None, None, None, None, None),
 (87, 446, 'Sales', 33, 'Male', 'No', None, None, None, None, None, None),
 (88, 449, 'Sales', 27, 'Male', 'No', None, None, None, None, None, None),
 (89, 453, 'Sales', 40, 'Male', 'No', None, None, None, None, None, None),
 (90, 456, 'Sales', 30, 'Female', 'No', None, None, None, None, None, None),
 (91, 458, 'Sales', 27, 'Female', 'No', None, None, None, None, None, None),
 (92, 463, 'Sales', 29, 'Female', 'No', None, None, None, None, None, None),
 (93, 467, 'Sales', 47, 'Male', 'No', None, None, None, None, None, None),
 (94,
  469,
  'Sales',
  29,
  'Male',
  'No',
  144,
  469,
  'Life Sciences',
  29,
  'Male',
  'No'),
 (95, 473, 'Sales', 48, 'Female', 'No', None, None, None, None, None, None),
 (96, 475, 'Sales', 30, 'Female', 'No', None, None, None, None, None, None),
 (97,
  476,
  'Sales',
  26,
  'Male',
  'No',
  145,
  476,
  'Life Sciences',
  26,
  'Male',
  'No'),
 (98, 478, 'Sales', 21, 'Female', 'Yes', None, None, None, None, None, None),
 (99, 479, 'Sales', 36, 'Female', 'No', None, None, None, None, None, None),
 (100, 481, 'Sales', 36, 'Male', 'No', None, None, None, None, None, None),
 (101, 484, 'Sales', 21, 'Male', 'No', None, None, None, None, None, None),
 (102, 485, 'Sales', 33, 'Female', 'Yes', None, None, None, None, None, None),
 (103, 488, 'Sales', 41, 'Male', 'Yes', None, None, None, None, None, None),
 (104, 492, 'Sales', 40, 'Male', None, None, None, None, None, None, None),
 (105,
  494,
  'Sales',
  21,
  'Female',
  None,
  148,
  494,
  'Life Sciences',
  21,
  'Female',
  None),
 (106,
  498,
  'Sales',
  28,
  'Male',
  None,
  151,
  498,
  'Life Sciences',
  28,
  'Male',
  None),
 (107,
  500,
  'Sales',
  51,
  'Female',
  None,
  152,
  500,
  'Life Sciences',
  51,
  'Female',
  None),
 (108, 502, 'Sales', 34, 'Male', None, None, None, None, None, None, None),
 (109, 507, 'Sales', 24, 'Female', None, None, None, None, None, None, None),
 (110, 508, 'Sales', 30, 'Male', None, None, None, None, None, None, None),
 (111, 513, 'Sales', 36, 'Male', None, None, None, None, None, None, None),
 (112, 516, 'Sales', 40, 'Female', None, None, None, None, None, None, None),
 (113, 523, 'Sales', 34, 'Female', 'No', None, None, None, None, None, None),
 (114,
  527,
  'Sales',
  25,
  'Female',
  'No',
  159,
  527,
  'Life Sciences',
  25,
  'Female',
  'No'),
 (115,
  532,
  'Sales',
  56,
  'Female',
  'No',
  162,
  532,
  'Life Sciences',
  56,
  'Female',
  'No'),
 (116, 533, 'Sales', 30, 'Female', 'No', None, None, None, None, None, None),
 (117, 534, 'Sales', 41, 'Male', 'No', None, None, None, None, None, None),
 (118, 554, 'Sales', 24, 'Female', 'Yes', None, None, None, None, None, None),
 (119, 555, 'Sales', 34, 'Female', 'Yes', None, None, None, None, None, None),
 (120,
  558,
  'Sales',
  40,
  'Female',
  'No',
  169,
  558,
  'Life Sciences',
  40,
  'Female',
  'No'),
 (121, 567, 'Sales', 30, 'Female', 'No', None, None, None, None, None, None),
 (122, 568, 'Sales', 57, 'Male', 'No', None, None, None, None, None, None),
 (123, 573, 'Sales', 60, 'Female', 'No', None, None, None, None, None, None),
 (124, 580, 'Sales', 46, 'Female', 'No', None, None, None, None, None, None),
 (125, 585, 'Sales', 30, 'Male', 'No', None, None, None, None, None, None),
 (126, 592, 'Sales', 36, 'Male', 'No', None, None, None, None, None, None),
 (127, 595, 'Sales', 48, 'Female', 'No', None, None, None, None, None, None),
 (128,
  597,
  'Sales',
  55,
  'Female',
  'No',
  180,
  597,
  'Life Sciences',
  55,
  'Female',
  'No'),
 (129,
  599,
  'Sales',
  41,
  'Male',
  'No',
  181,
  599,
  'Life Sciences',
  41,
  'Male',
  'No'),
 (130, 600, 'Sales', 35, 'Male', 'No', None, None, None, None, None, None),
 (131,
  604,
  'Sales',
  31,
  'Male',
  'No',
  184,
  604,
  'Life Sciences',
  31,
  'Male',
  'No'),
 (132, 606, 'Sales', 45, 'Male', 'No', None, None, None, None, None, None),
 (133,
  613,
  'Sales',
  31,
  'Male',
  'No',
  186,
  613,
  'Life Sciences',
  31,
  'Male',
  'No'),
 (134, 614, 'Sales', 18, 'Male', 'Yes', None, None, None, None, None, None),
 (135, 615, 'Sales', 40, 'Male', 'No', None, None, None, None, None, None),
 (136, 618, 'Sales', 26, 'Male', 'No', None, None, None, None, None, None),
 (137, 620, 'Sales', 35, 'Female', 'No', None, None, None, None, None, None),
 (138,
  621,
  'Sales',
  34,
  'Male',
  'No',
  187,
  621,
  'Life Sciences',
  34,
  'Male',
  'No'),
 (139,
  625,
  'Sales',
  41,
  'Female',
  'No',
  188,
  625,
  'Life Sciences',
  41,
  'Female',
  'No'),
 (140, 626, 'Sales', 37, 'Male', 'No', None, None, None, None, None, None),
 (141, 631, 'Sales', 32, 'Male', 'Yes', None, None, None, None, None, None),
 (142, 632, 'Sales', 24, 'Male', 'No', None, None, None, None, None, None),
 (143, 641, 'Sales', 26, 'Male', 'No', None, None, None, None, None, None),
 (144, 645, 'Sales', 25, 'Male', 'No', None, None, None, None, None, None),
 (145,
  648,
  'Sales',
  30,
  'Male',
  'Yes',
  192,
  648,
  'Life Sciences',
  30,
  'Male',
  'Yes'),
 (146, 650, 'Sales', 31, 'Male', 'Yes', None, None, None, None, None, None),
 (147, 653, 'Sales', 31, 'Male', 'No', None, None, None, None, None, None),
 (148, 656, 'Sales', 37, 'Male', 'No', None, None, None, None, None, None),
 (149, 666, 'Sales', 34, 'Female', 'No', None, None, None, None, None, None),
 (150, 667, 'Sales', 27, 'Male', 'Yes', None, None, None, None, None, None),
 (151, 669, 'Sales', 21, 'Male', 'No', None, None, None, None, None, None),
 (152, 677, 'Sales', 33, 'Male', None, None, None, None, None, None, None),
 (153, 682, 'Sales', 53, 'Female', None, None, None, None, None, None, None),
 (154,
  684,
  'Sales',
  45,
  'Female',
  None,
  201,
  684,
  'Life Sciences',
  45,
  'Female',
  None),
 (155, 690, 'Sales', 29, 'Female', None, None, None, None, None, None, None),
 (156,
  707,
  'Sales',
  25,
  'Male',
  None,
  207,
  707,
  'Life Sciences',
  25,
  'Male',
  None),
 (157, 709, 'Sales', 38, 'Female', None, None, None, None, None, None, None),
 (158, 712, 'Sales', 48, 'Male', None, None, None, None, None, None, None),
 (159, 714, 'Sales', 27, 'Female', None, None, None, None, None, None, None),
 (160,
  720,
  'Sales',
  24,
  'Female',
  None,
  210,
  720,
  'Life Sciences',
  24,
  'Female',
  None),
 (161, 722, 'Sales', 32, 'Male', None, None, None, None, None, None, None),
 (162, 723, 'Sales', 50, 'Male', None, None, None, None, None, None, None),
 (163, 728, 'Sales', 47, 'Male', None, None, None, None, None, None, None),
 (164,
  729,
  'Sales',
  40,
  'Male',
  None,
  214,
  729,
  'Life Sciences',
  40,
  'Male',
  None),
 (165, 732, 'Sales', 60, 'Male', None, None, None, None, None, None, None),
 (166, 738, 'Sales', 50, 'Male', None, None, None, None, None, None, None),
 (167, 746, 'Sales', 47, 'Female', 'No', None, None, None, None, None, None),
 (168, 747, 'Sales', 30, 'Male', 'No', None, None, None, None, None, None),
 (169,
  749,
  'Sales',
  29,
  'Male',
  'No',
  220,
  749,
  'Life Sciences',
  29,
  'Male',
  'No'),
 (170,
  754,
  'Sales',
  43,
  'Male',
  'No',
  221,
  754,
  'Life Sciences',
  43,
  'Male',
  'No'),
 (171, 766, 'Sales', 29, 'Male', 'No', None, None, None, None, None, None),
 (172, 776, 'Sales', 52, 'Male', 'No', None, None, None, None, None, None),
 (173, 781, 'Sales', 25, 'Female', 'No', None, None, None, None, None, None),
 (174, 783, 'Sales', 45, 'Male', 'No', None, None, None, None, None, None),
 (175,
  785,
  'Sales',
  47,
  'Female',
  'Yes',
  226,
  785,
  'Life Sciences',
  47,
  'Female',
  'Yes'),
 (176, 786, 'Sales', 34, 'Male', 'No', None, None, None, None, None, None),
 (177,
  789,
  'Sales',
  36,
  'Male',
  'No',
  227,
  789,
  'Life Sciences',
  36,
  'Male',
  'No'),
 (178, 796, 'Sales', 26, 'Male', 'Yes', None, None, None, None, None, None),
 (179, 800, 'Sales', 27, 'Male', 'No', None, None, None, None, None, None),
 (180,
  805,
  'Sales',
  35,
  'Female',
  'No',
  232,
  805,
  'Life Sciences',
  35,
  'Female',
  'No'),
 (181,
  808,
  'Sales',
  34,
  'Female',
  'No',
  234,
  808,
  'Life Sciences',
  34,
  'Female',
  'No'),
 (182, 819, 'Sales', 33, 'Female', 'Yes', None, None, None, None, None, None),
 (183, 840, 'Sales', 49, 'Female', 'Yes', None, None, None, None, None, None),
 (184, 842, 'Sales', 55, 'Male', 'Yes', None, None, None, None, None, None),
 (185, 846, 'Sales', 28, 'Female', 'No', None, None, None, None, None, None),
 (186, 851, 'Sales', 51, 'Female', 'No', None, None, None, None, None, None),
 (187, 855, 'Sales', 33, 'Male', 'No', None, None, None, None, None, None),
 (188,
  857,
  'Sales',
  36,
  'Male',
  'No',
  250,
  857,
  'Life Sciences',
  36,
  'Male',
  'No'),
 (189,
  859,
  'Sales',
  32,
  'Male',
  'No',
  251,
  859,
  'Life Sciences',
  32,
  'Male',
  'No'),
 (190, 862, 'Sales', 53, 'Female', 'No', None, None, None, None, None, None),
 (191, 864, 'Sales', 45, 'Male', 'No', None, None, None, None, None, None),
 (192, 868, 'Sales', 37, 'Male', 'No', None, None, None, None, None, None),
 (193, 879, 'Sales', 25, 'Male', 'No', None, None, None, None, None, None),
 (194, 885, 'Sales', 25, 'Male', 'No', None, None, None, None, None, None),
 (195,
  889,
  'Sales',
  32,
  'Male',
  'No',
  260,
  889,
  'Life Sciences',
  32,
  'Male',
  'No'),
 (196, 893, 'Sales', 38, 'Male', 'No', None, None, None, None, None, None),
 (197, 896, 'Sales', 29, 'Female', 'Yes', None, None, None, None, None, None),
 (198, 897, 'Sales', 53, 'Male', 'No', None, None, None, None, None, None),
 (199, 900, 'Sales', 37, 'Female', 'No', None, None, None, None, None, None),
 (200, 903, 'Sales', 47, 'Female', 'No', None, None, None, None, None, None),
 (201, 904, 'Sales', 37, 'Male', 'No', None, None, None, None, None, None),
 (202, 916, 'Sales', 28, 'Male', 'No', None, None, None, None, None, None),
 (203, 922, 'Sales', 20, 'Female', 'Yes', None, None, None, None, None, None),
 (204,
  925,
  'Sales',
  47,
  'Female',
  'No',
  272,
  925,
  'Life Sciences',
  47,
  'Female',
  'No'),
 (205, 936, 'Sales', 42, 'Female', 'No', None, None, None, None, None, None),
 (206,
  941,
  'Sales',
  31,
  'Male',
  'No',
  277,
  941,
  'Life Sciences',
  31,
  'Male',
  'No'),
 (207, 947, 'Sales', 31, 'Female', 'No', None, None, None, None, None, None),
 (208, 952, 'Sales', 25, 'Male', 'Yes', None, None, None, None, None, None),
 (209, 954, 'Sales', 40, 'Male', 'No', None, None, None, None, None, None),
 (210, 956, 'Sales', 26, 'Male', 'No', None, None, None, None, None, None),
 (211, 959, 'Sales', 19, 'Male', 'Yes', None, None, None, None, None, None),
 (212,
  967,
  'Sales',
  36,
  'Male',
  'Yes',
  280,
  967,
  'Life Sciences',
  36,
  'Male',
  'Yes'),
 (213,
  970,
  'Sales',
  37,
  'Male',
  'Yes',
  282,
  970,
  'Life Sciences',
  37,
  'Male',
  'Yes'),
 (214, 974, 'Sales', 29, 'Female', 'No', None, None, None, None, None, None),
 (215, 975, 'Sales', 35, 'Female', 'No', None, None, None, None, None, None),
 (216, 981, 'Sales', 53, 'Male', 'No', None, None, None, None, None, None),
 (217, 982, 'Sales', 30, 'Male', 'No', None, None, None, None, None, None),
 (218, 983, 'Sales', 38, 'Female', 'No', None, None, None, None, None, None),
 (219,
  984,
  'Sales',
  35,
  'Male',
  'No',
  285,
  984,
  'Life Sciences',
  35,
  'Male',
  'No'),
 (220,
  985,
  'Sales',
  39,
  'Male',
  'No',
  286,
  985,
  'Life Sciences',
  39,
  'Male',
  'No'),
 (221,
  986,
  'Sales',
  40,
  'Female',
  'Yes',
  287,
  986,
  'Life Sciences',
  40,
  'Female',
  'Yes'),
 (222, 990, 'Sales', 36, 'Male', 'No', None, None, None, None, None, None),
 (223,
  992,
  'Sales',
  33,
  'Male',
  'No',
  288,
  992,
  'Life Sciences',
  33,
  'Male',
  'No'),
 (224,
  1003,
  'Sales',
  47,
  'Female',
  'No',
  292,
  1003,
  'Life Sciences',
  47,
  'Female',
  'No'),
 (225, 1029, 'Sales', 42, 'Male', 'No', None, None, None, None, None, None),
 (226,
  1036,
  'Sales',
  38,
  'Male',
  'No',
  306,
  1036,
  'Life Sciences',
  38,
  'Male',
  'No'),
 (227, 1037, 'Sales', 26, 'Male', 'Yes', None, None, None, None, None, None),
 (228, 1038, 'Sales', 52, 'Female', 'Yes', None, None, None, None, None, None),
 (229, 1039, 'Sales', 44, 'Female', 'No', None, None, None, None, None, None),
 (230,
  1040,
  'Sales',
  50,
  'Female',
  'No',
  307,
  1040,
  'Life Sciences',
  50,
  'Female',
  'No'),
 (231,
  1044,
  'Sales',
  33,
  'Female',
  'No',
  309,
  1044,
  'Life Sciences',
  33,
  'Female',
  'No'),
 (232,
  1045,
  'Sales',
  45,
  'Female',
  'No',
  310,