In [2]:
import pandas as pd

In [3]:
event = pd.read_csv("Telstra Competition Data\\event_type.csv")
log = pd.read_csv("Telstra Competition Data\\log_feature.csv")
resource = pd.read_csv("Telstra Competition Data\\resource_type.csv")
sample = pd.read_csv("Telstra Competition Data\\sample_submission.csv")
severity = pd.read_csv("Telstra Competition Data\\severity_type.csv")
test = pd.read_csv("Telstra Competition Data\\test.csv")
train = pd.read_csv("Telstra Competition Data\\train.csv")

1. Merge Tables.
2. Understand the difference between inner and outer merge.
> Inner merge is the intersection of the two tables, while outer merge is the union of the two tables
3. Understand the difference between merge and join.
> As far as I remember from class, the `merge()` and `join()` methods are basically the same, but merge works better and covers more cases than join

In [4]:
merged = event.merge(log)
merged = merged.merge(resource,how='outer')
merged = merged.merge(sample,how='outer')
merged = merged.merge(severity,how='outer')
merged = merged.merge(test,how='outer')
merged = merged.merge(train,how='outer')

4. Divide dataset into two dataframes.

In [5]:
merged_1 = merged[:100000]
merged_2 = merged[100000:]

5. Concat the two dataframes.

In [6]:
merged_concat = pd.concat([merged_1,merged_2])

6. Handle duplicates.

In [7]:
merged_no_dupe =  merged.drop_duplicates()

In [8]:
merged_no_dupe

,id,event_type,log_feature,volume,resource_type,predict_0,predict_1,predict_2,severity_type,location,fault_severity
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,location 601,1.0
1,1,event_type 11,feature 68,2.0,resource_type 8,NaN,NaN,NaN,severity_type 1,NaN,NaN
2,1,event_type 11,feature 68,2.0,resource_type 6,NaN,NaN,NaN,severity_type 1,NaN,NaN
3,1,event_type 11,feature 345,2.0,resource_type 8,NaN,NaN,NaN,severity_type 1,NaN,NaN
4,1,event_type 11,feature 345,2.0,resource_type 6,NaN,NaN,NaN,severity_type 1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
153799,18551,event_type 11,feature 73,6.0,resource_type 8,0.0,1.0,0.0,severity_type 1,location 891,NaN
153800,18552,event_type 34,feature 232,23.0,resource_type 2,0.0,1.0,0.0,severity_type 2,location 468,NaN
153801,18552,event_type 34,feature 312,25.0,resource_type 2,0.0,1.0,0.0,severity_type 2,location 468,NaN
153802,18552,event_type 35,feature 232,23.0,resource_type 2,0.0,1.0,0.0,severity_type 2,location 468,NaN
153803,18552,event_type 35,feature 312,25.0,resource_type 2,0.0,1.0,0.0,severity_type 2,location 468,NaN